/* MAIN */

.home {
  height: 100vh;
}

.main {
  margin-top: 50px;
  overflow: hidden;
}

.main .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left {
  flex: 0.55;
}

.main__right {
  flex: 0.4;
  text-align: center;
  /* transform: translateX(200px); */
}

.main__left h1 {
  font-size: 80px;
  line-height: 90px;
  opacity: 0.8;
}

.main__left p {
  opacity: 0.5;
  margin: 20px 0;
  font-size: 22px;
}

.main__right img {
  width: 150%;
}

@media only screen and (max-width: 780px) {
  .main .row {
    flex-direction: column-reverse;
  }

  .home {
    margin-bottom: 150px;
  }

  .main__left {
    text-align: center;
    margin-top: 20px;
  }

  .main__right img {
    width: 100%;
  }

  .main__left h1 {
    font-size: 48px;
    line-height: 50px;
  }

  .main__left p {
    font-size: 16px;
  }
}
